<p id="notice"><%= notice %></p>

<p>
  <strong>Location Name:</strong>
  <%= @location.name %><br>
  Predictions:
  <ul>
  <% @location.location_predictions.each do |p| %>
  	<li><%= p.description%></li>
  <% end %>
  </ul>
</p>


<%= link_to 'Back', locations_path %>
